#DetalhesTop {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#DetalhesTop h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#DetalhesTop img {
  max-width: 100%;
  margin-bottom: 15px;
}

#DetalhesTop p.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

#DetalhesTop p.description {
  font-size: 16px;
}

#minhaLogo{

  max-width: 83px;
  
}